*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}
.ltr{
    direction: ltr;
    text-align: right;
}
#logo{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    visibility: visible;
    animation: rotate360 10s infinite linear ;
}
.container{
    width: 100%;
    height: 100vh;
    background-image:url(/signup&signin/home-page-1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 50px 70px;
    text-align: center;
    border-radius: 50px;
}
.form-box h1{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 60px;
    color: #0010a0;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    background: #0010a0;
}
.input-field{
    background: rgb(182, 184, 207);
    margin: 15px 0;
    border-radius: 3px;
    align-items: center;
    display: flex;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-field i{
    margin-left: 15px;
    color: #0010a0;
}
form p{
    text-align: right;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: #0010a0;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis: 48%;
    background-color: #0010a0;
    color: #fff;
    height: 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 20px;
    transition: background 1s;
}
.input-group{
    height: 280px;
}
.btn-field button.disable{
    background: rgb(182, 184, 207);
    color: black;
}
@keyframes rotate360 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(359deg);
    }
}